/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Reset block-level elements */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Reset table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4d4d4d;
}

.container {
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  height: 65vh;
}

.logout{
  display: block;
  position: absolute;
  top: 2vh;
  right: 5vh;
}

.basic-user-info{
  border: 1px solid black;
  height: auto;
  width: fit-content;
  margin : 2vh;
  padding : 2vh;
}

.xp-amount{
  border: 1px solid black;
  height: auto;
  width: fit-content;
  margin : 2vh;
  padding : 2vh;
}

.grades{
  border: 1px solid black;
  height: auto;
  width: fit-content;
  margin : 2vh;
  padding : 2vh;
}

.table-row{
  display: flex;
  flex-direction: row;
}

.table-cell{
  border: 0.5px solid gray;
  margin : 0.2vh;
  padding : 0.2vh;
  min-width: 55px;
  text-align: center;
}

.cell-1 {
  flex-grow: 1;
  text-align: left;
}

.table-header{
  font-weight: bolder;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}